<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <title>Home Page</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <section class="hero">

    <h1>Masollenge</h1>

    <p class="tagline">
        The home of gaming's most brutal challenges.
    </p>

    <p class="tagline">
        Discover no-hit runs, challenge playthroughs,
        and achievements completed under extreme restrictions.
    </p>
    <div class="hero-actions">
    <% if (user) { %>
        <h1>Welcome to the app <%= user.username %></h1>
    <% } %>
    </div>
    </section>
    
</body>
</html>