<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>Home Page</title>
</head>
<body>
    
    <% if (user) { %>
        <%- include('./partials/nav.ejs') %>
        <h1>Welcome to the app <%= user.username %></h1>
        <a href="/dashboard">View dashboard</a>
    <% } else { %>
        <a href="/auth/sign-up">Sign Up</a>
        <a href="/auth/sign-in">Sign In</a>
        <a href="/challenges">All Challenges</a>
    <% } %>
        

    
</body>
</html>