<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Submit Your Own Record</h1>
    <form action="/challenges" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" required>

        <label for="game">Game:</label>
        <select id="game" name="game" required>
            <option value="">Choose a game</option>
            <option value="Devil May Cry 5">Devil May Cry 5</option>
            <option value="Ninja Gaiden Black">Ninja Gaiden Black</option>
            <option value="A Hat in Time">A Hat in Time</option>
            <option value="Lost Judgement">Lost Judgement</option>
        </select>

        <label for="genre">Genre:</label>
        <select id="genre" name="genre" required>
            <option value="">Choose game genre</option>
            <option value="action">Action</option>
            <option value="hack-and-slash">Hack and Slash</option>
            <option value="platformer">Platformer</option>
            <option value="beat-em-up">Beat em up</option>
            <option value="soulsborne">Soulsborne</option>
        </select>
        <br><br>
        <label for="rules">Rules:</label>
        <input type="text" name="rules" required>
        
        <label for="owner">Owner:</label>
        <input type="text" name="owner" required>

        <label for="videoUrl">Video URL:</label>
        <input type="url" name="videoUrl" placeholder="https://www.youtube.com/watch?v=..." required>
        <br><br>
        <label for="platform">Platform:</label>
        <select id="platform" name="platform" required>
            <option value="">Choose a platform</option>
            <option value="pc">PC</option>
            <option value="switch">Nintendo Switch</option>
            <option value="ps5">PS5</option>
            <option value="xbox">Xbox</option>
        </select>

        <button type="submit">Submit Record</button>
    </form>
</body>
</html>